.container {
    padding: 0 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .chartContainer {
      border: 0.1rem solid rgba(74, 191, 191, 0.2);
      border-radius: 0.5rem;
      padding: 3rem;
      .error-text {
        font-weight: 100;
        color: rgb(148, 26, 83);
    }
      .header {
        h1 {
          display: flex;
          position: relative;
          font-weight: 500;
          user-select: none;
          .units {
            cursor: pointer;
            li {
              display: flex;
              align-items: center;
              .options {
                position: absolute;
                flex-direction: column;
                z-index: 3;
                background: #383838;
                li {
                  font-weight: 300;
                  border: 0.1rem solid #212121;
                }
                li:hover {
                  background: #525252;
                }
              }
            }
          }
        }
        h3 {
          padding: 1rem 0;
          font-weight: 500;
          svg {
            margin-left: 2rem;
          }
        }
        small {
          display: inline-block;
          margin-bottom: 5rem;
        }
      }
    }
  }
  
  @media screen and (min-width: 320px) {
    .chartContainer {
     width: 90%;
    }
  }
  
  @media screen and (min-width: 425px) {
    .chartContainer {
      width: 70%;
      h1 {
        font-size: 2.2rem;
        .units {
          margin-left: 1rem;
          li {
            svg {
              margin-left: .7rem;
              font-size: 1.4rem;
            }
            .options {
              top: 2.4rem;
              li {
                font-size: 1.1rem;
                padding: 0.3rem 2rem;
              }
            }
          }
        }
      }
      h3 {
        font-size: 1.6rem;
      }
      small {
        font-size: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .chartContainer {
      width: 50%;
      h1 {
        font-size: 3.2rem;
        .units {
          margin-left: 2rem;
          li {
            svg {
              margin-left: 1rem;
              font-size: 2.4rem;
            }
            .options {
              top: 3.4rem;
              li {
                font-size: 1.6rem;
                padding: 0.3rem 3rem;
              }
            }
          }
        }
      }
      h3 {
        font-size: 2.2rem;
      }
      small {
        font-size: 1.2rem;
        margin-bottom: 5rem;
      }
    }
  }